
.mainContainer {
  display: flex;
  flex-direction: column;
  letter-spacing: 0;
  margin-bottom: 40px;
  width: 100%;
}
.mainLabel {
  text-align: left;
  font: normal normal medium SF Pro Text;
  font-size: 22px;
  color: #BBBBC7;
  margin-bottom: 40px;
}
